.header {
	position: relative;
	background-color: var(--color-dark-grey);
    color: var(--color-light-grey); 
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
}

.header-logo {
	font-weight: 700;
	font-size: 60px;
    font-family: 'Amatic SC', cursive;
}

.header-links-block {
	display: flex;
	align-items: center
}

.header ol, ul {
    list-style: none;
}

.header-nav-toggle {
	display: none !important;
}

.header-nav-item a {
	display: block;
}

.header-search {
	display: flex
}

.header-search-toggle {
	appearance: none;
	order: 1;
	font-size: 0;
	width: 34px;
	height: 34px;
	border: 0
}

.header-search-form {
	display: none
}

.header-search-form.active {
	display: block
}

.header-search-form input {
	min-width: 200px;
	appearance: none;
	border: 0;
	background-color: var(--color-white);
	border-radius: 0px;
	font-size: 16px;
	padding: 10px;
}

@media(max-width:799px) {
	.header-logo {
		font-size: 40px;
	}

	.header-nav-wrapper {
		position: absolute;
		margin: 0;
		top: 100%;
		right: 0;
		left: 0;
		z-index: -1;
		background-color: var(--color-light-grey);
		visibility: hidden;
		opacity: 0;
		transform: translateY(-100%);
		transition: transform .3s ease-out, opacity .3s ease-out
	}

	.header-nav-wrapper .white-link a {
		color: var(--color-dark-grey);
	}

	.header-nav-wrapper .white-link a.active {
		color: var(--color-light-red);
	}

	.header-nav-wrapper.active {
		visibility: visible;
		opacity: 1;
		transform: translateY(0)
	}

	.header-nav-toggle {
		position: absolute;
		right: 16px;
		top: 16px;
		margin: 10px 7px;
	}

	.header-nav-toggle.show-icon {
		display: block !important;
	}

	.header-nav-item a {
		padding: 18px 10px;
	}

	.header-search-toggle {
		position: absolute;
		right: 60px;
    	top: 10.4px;
		margin: 16px 7px;
	}

	.header-search-form {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		background-color: var(--color-light-grey)
	}
	.header-search-form input {
		width: 100%;
		border-bottom: 1px solid var(--color-dark-grey);
		padding: 16px;
	}
}

@media(min-width:800px) {
	.header-wrapper {
		padding-top: 0;
		padding-bottom: 0
	}

	.header-nav-item a {
		padding: 24px 16px;
	}

	.header-nav-wrapper {
		display: flex
	}

	.header-search-toggle {
		border-left: 1px solid var(--color-dark-grey);
		padding-left: 10px
	}
}
