.search-form {
 z-index: 999;
}

.search-form input {
	min-width: 200px;
	appearance: none;
	border: 0;
	background-color: var(--color-white);
	border-radius: 0px;
	font-size: 16px;
	padding: 10px;
}

.search-form-result-list {
    background-color: white;
	margin: 0;
	padding-inline-start: 0;
	margin-bottom: -50px;
	border: 2px solid var(--color-dark-grey);
	border-top: none;
	min-width: 200px;
}

.search-form-result-list a {
    background-color: white;
}

.search-form-result-list-item {
	padding: 10px;
}

@media(max-width:799px) {
    .search-form {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		background-color: var(--color-light-grey)
	}
	.search-form input {
		width: 100%;
		border-bottom: 1px solid var(--color-dark-grey);
		padding: 16px;
	}
}